/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.anchor {
    color: #343a3f;
}

::placeholder {
    text-transform: capitalize;
}

.container {
    margin: 0 auto;
    width: 1240px;
}

a {
    text-decoration: none;
}

.site-heading {
    text-align: center;
    color: #505866;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding-top: 50px;
}

.site-sub-text {
    font-size: 18px;
    color: #767f86;
    line-height: 1.8;
    text-transform: initial;
    text-align: center;
}

body {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.flexbox {
    display: flex
}

/* header start */
header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
    border-bottom:1px #d2d6d8 solid;
}

nav {
    justify-content: space-between;
    text-transform: uppercase;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 34px 0px;
}

.nav-btn {
    padding: 34px 21px;
    text-decoration: none;
    color: #859098;
    font-weight: 500;
    font-size: 14px;
}

.home-btn {
    color: #ff545a;
}

.nav-logo {
    padding: 34px 0px;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.bar-icon {
    top: 43px;
    right: 41px;
    position: absolute;
    opacity: 0;
}

#chk {
    top: 43px;
    right: 41px;
    position: absolute;
    opacity: 0;
}

.nav-logo span {
    color: #ff545a;
}

/* header hover effect */
.nav-btn:hover,
.footer-btn:hover {
    color: #ff545a;
}


/* banner start */
#banner::before {
    position: absolute;
    content: '';
    background-color: rgb(65 73 89 / .65);
    width: 100%;
    height: 100%;
    left: 0;
}

#banner {
    top: 0;
    position: relative;
    background: url(../images/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 800px;
    z-index: 1;
}

.banner-content {
    padding-top: 155px;
    position: relative;
}

.banner-text-content {
    font-size: 1rem;
}

.banner-welcome-text {
    font-size: 3em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.4;
}

.banner-text {
    font-size: 1.2em;
    color: #fcfcfc;
    margin-top: 25px;
}

.banner-form-content {
    position: relative;
    margin: 90px 30px 0px 30px;
    justify-content: center;
}

.search-box {
    border: 1px solid #edeff1;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
}

.search-name {
    color: #343a3f;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.search-box input {
    border: 0px;
    height: 40px;
    margin: 0px 10px;

}

.search-icon {
    font-size: 20px;
    padding: 5px;
}

.search-btn button {
    padding: 20px 30px;
    background: #ff545a;
    border-radius: 5px;
    color: #fcfcfc;
    border: 0px;
    margin-left: 20px;
    font-size: 17px;
}

/* banner hover effect */
.search-btn button:hover {
    background: #f43032;
}

/* service start */
.service {
    position: relative;
    z-index: 1;
    top: -98px;
    text-align: center;
}

.service ul li {
    display: inline-block;
}

.service-icon {
    font-size: 48px;
}

.service-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 205px;
    height: 170px;
    background: #fff;
    border-radius: 3px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0px 10px rgba(71, 71, 71, .2);
    transition: all 1s ease;
}

/* service hover effect */
.service-content:hover {
    background: #f43032;
    color: white;
}

/* work */
.work-card-row {
    justify-content: space-evenly;
    margin-top: 50px;
}

.work-primary-heading {
    margin: 0;
}

.work-card {
    width: 30%;
    text-align: center;
    padding: 50px 42px;
    box-shadow: 0 0px 10px rgba(71, 71, 71, .4);
    transition: all 1s ease;
}

.work-icon {
    padding: 30px;
    font-size: 50px;
    background-color: #eef2f6;
    border-radius: 50%;
    color: #50616c;
    transition: all 1s ease;
}

.work-card-heading {
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 500;
}

.work-card p {
    color: #767f86;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 25px;
}

.work-card-btn {
    text-decoration: none;
    border: 1px solid;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 3px;
    color: #767f86;
}

/*  work hover effect */
.work-card:hover {
    background: #f43032;
    color: white;
}

.work-card:hover p {
    color: white;
}

.work-card:hover .work-card-btn {
    color: white;
}

.work-card:hover .work-icon {
    box-shadow: 0 10px 50px rgba(21, 19, 19, .2);
    color: #f43032;
}

/* explore */
#explore {
    background-color: #f8fafb;
}

.explore-card-row {
    margin-top: 50px;
    justify-content: space-evenly;
}

.explore-card {
    width: 32%;
    border: solid;
    text-align: center;
    border: 1px solid #edeff1;
    transition: all 1s ease;
    font-size: 1rem;
}

.explore-card-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgba(162, 172, 177, .2);
}

.explore-card-img {
    position: relative;
}

.explore-card-img img {
    width: 100%;
    height: 100%;
}

.explore-card-content {
    padding: 10px;
}

.explore-card-placename a {
    text-decoration: none;
    color: #343a3f;
    font-size: 1em;
    font-weight: 500;
}

.explore-card-placename {
    margin: 5px;
    text-align: left;
}

.explore-rating-price {
    font-size: 1em;
    color: #777f85;
    text-transform: capitalize;
    font-weight: 400;
}

.rating {
    background-color: #70a9ff;
    color: white;
    padding: 2px 3px;
}

.rating-num {
    padding: 0 5px;
}

/* rating background color */
.rating-bgc-5 {
    background-color: green;
}

.rating-bgc-4 {
    background-color: yellow;
}

.rating-bgc-3 {
    background-color: orange;
}

.rating-bgc-2 {
    background-color: purple;
}

.price {
    color: red;
    border-left: 1px solid #dde0e4;
    border-right: 1px solid #dde0e4;
    padding: 0px 10px;
}

.person-content-row {
    justify-content: space-evenly;
    border-bottom: 1px solid #e1e5eb;
}

.ratting-text {
    margin: 0;
    color: #767f86;
    font-size: 0.88em;
    line-height: 1.8;
    text-align: justify;
    padding: 20px 20px;
}

.person-profile-pic img {
    margin: 40px 10px;

}

.open-close-part-row {

    justify-content: space-between;
}

.close-btn {
    color: #f63138;
    border: 0px;
    background-color: transparent;
    font-size: 1.15em;
    padding: 15px;
}

.explore-card-icon {
    font-size: 1.1em;
    padding: 15px;
    transition: all 1s ease;
    cursor: pointer;
}

/* explore hover effect */
.explore-card:hover {
    box-shadow: 0 10px 20px rgba(21, 19, 19, .2);
}

.explore-card:hover .explore-card-icon {
    color: blue;
}

/* reviews start */
.reviews-card-row {
    padding: 50px 0PX;
    justify-content: space-evenly;
}

.reviews-card {
    border: 1px solid #edeff1;
    box-shadow: 0 0px 5px rgba(71, 71, 71, .2);
    width: 23%;
    text-align: center;
    padding: 50px 10px;
}

.reviews-person-name {
    color: #505866;
    font-size: 1.15em;
    font-weight: 500;
}

.reviews-person-pic {
    padding: 20px;
    width: 35%;
}

.reviews-person-pic img {
    width: 100%;
    height: 100%;
}

.reviews-person-det {
    padding: 0px 20px;
}

.reviews-person-info {
    margin: 20px 0px;
}

.reviews-rating-star i {
    color: yellow;
}

.reviews-person-comment {
    text-align: justify;
    line-height: 1.8;
    text-transform: initial;
    color: #8d939e;
    font-size: 0.88em;
    font-weight: 300;
    padding: 10px 10px;
}

.reviews-person-location {
    color: #a2a5ab;
    font-size: 0.88em;
    font-weight: 400px;
    margin-top: 10px;
}

.reviews-card:hover {
    box-shadow: 0 10px 20px rgba(21, 19, 19, .2);
}

/* reviews count start */
#reviews-count::before {
    position: absolute;
    content: '';
    background: rgba(75, 75, 75, .60);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#reviews-count {
    background: url(/images/counter-banner.jpg) no-repeat fixed;
    position: relative;
    background-position: center;
    background-size: cover;
}

.count-row {
    justify-content: space-evenly;
    position: relative;
    padding: 127PX 0PX 127PX;
    align-items: center;

}

.count-box {
    text-align: center;
    font-size: 1.85em;
    color: #fff;

}

.count-box h3 {
    font-weight: 300;
}

.count-num span {
    font-size: 50px;
}

/* article start */
.article-card-row {
    margin: 50px 0px;
    justify-content: space-evenly;
}

.article-card {
    transition: all 0.5s linear;
    width: 30%;
    font-size: 1rem;
    border: 1px solid #edeff1;
}

.article-img img {
    width: 100%;
    height: 100%;
}

.article-text-content {
    padding: 25px 28px 27px;
}

.article-heading a {
    color: #343a3f;
    font-size: 1em;
    padding: 0;
    font-weight: 500;
}

.article-det {
    font-size: 0.88em;
    color: #8f949d;
    font-weight: 400;
    margin: 12px 0 20px;
}

.article-det a {
    font-size: 0.88em;
    padding-right: 14px;
    border-right: 1px solid #dde0e4;
    margin-right: 15px;
    color: black;
}

.article-text {

    margin: 0;
    color: #767f86;
    font-size: 0.88em;
    line-height: 1.8;
    text-transform: initial;
}

/* article hover */
.article-card:hover {
    box-shadow: 0px 0px 50px rgba(71, 71, 71, .2);
}

/* subscription start */
#subscription {
    background-color: #f8fafb;
}

.subscription-content {
    text-align: center;
    padding: 50px 0px;
}

.mail-form {
    display: inline-block;
    position: relative;
    text-align: center;
    left: -100px;
    transition: all 1s ease;

}

.mail-form input {
    width: 630px;
    height: 60px;
    padding-left: 30px;
    font-size: 16px;
    color: #a5adb3;
    border-radius: 3px;
    border: 1px solid #fff;
    box-shadow: 0 0px 10px rgba(21, 19, 19, .1);
}

.mail-form button {
    position: absolute;
    background: #ff545a;
    width: 180px;
    height: 60px;
    line-height: 60px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    transition: all 1s ease;
    cursor: pointer;
}

/* subscription hover */
.mail-form:hover {
    box-shadow: 0 5px 10px rgba(71, 71, 71, .4);
}

.mail-form:hover button:hover {
    box-shadow: 0 5px 10px rgba(71, 71, 71, .4);
    background: #f43032;
}

/* footer start */
.footer-menu {
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #fff;

}

.footer-btn {
    padding: 0px 18px;
    text-decoration: none;
    color: #859098;
    font-weight: 500;
    font-size: 14px;
}

.footer-logo {
    padding: 34px 0px;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.footer-logo span {
    color: red;
}

.footer-menu ul li {
    display: inline-block;
    padding: 35px 0px;
}
